<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.amin.radion">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <!--  <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/> !-->

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher_foreground"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_foreground"
            android:supportsRtl="false"
            android:largeHeap="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".launch.HomeActivity"
                android:label="@string/app_name"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".launch.HomeActivity$RadioService"/>
        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>

    </application>

</manifest>